Repository googleapis/python-language, pull requests merged in 2022-11, with the labels that each got.

#396 chore: add release-please manifest
  .release-please-manifest.json
  google/cloud/language/gapic_version.py
  release-please-config.json
  samples/generated_samples/snippet_metadata_google.cloud.language.v1.json
  samples/generated_samples/snippet_metadata_google.cloud.language.v1beta2.json
Labels: api: language, size: s

#397 chore: enable manifest for release-please
  .github/release-please.yml
Labels: api: language, owlbot:ignore, size: xs

#398 chore: fix typo in release-please-config.json
  release-please-config.json
Labels: api: language, owlbot:ignore, size: xs

#399 chore: copy version from setup.py to google/cloud/language/gapic_version.py
  .release-please-manifest.json
  google/cloud/language/gapic_version.py
Labels: api: language, owlbot:ignore, size: xs

#388 docs: specify client library version requirement in samples/v1/language_classify_text.py
  samples/v1/language_classify_text.py
Labels: api: language, samples, size: xs
